* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.containerEjemplo, .containerMainIndex, .containerMainSobreMi, .containerMainServicios, .containerMainExito {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 4rem; }

body {
  font-family: "Helvetica Neue", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Covered By Your Grace', cursive; }

/* Header  */
.headerImg {
  width: 35px;
  height: 24p; }

.navbar-nav {
  align-items: flex-end; }

/* Footer  */
.footerImg {
  width: 1.2rem; }

/* Home  */
.containerIndex {
  margin: auto;
  display: grid;
  grid-template-rows: auto 10fr auto; }

.containerMainIndex {
  width: 90%;
  padding: 2rem 0; }

.home1 {
  margin-left: 60px; }

.pHome {
  margin-top: 80px; }

.homeDiv {
  width: 150px;
  height: 150px;
  background-color: #C60E32;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  top: 180px; }

.serviciosHome {
  height: auto; }

.home2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 13rem 13rem;
  grid-template-areas: "servicioP servicio1" "servicioP servicio2";
  gap: 20px; }

.home2 > img {
  width: 100%;
  height: 100%;
  object-fit: fill; }

.servicioHome1 {
  grid-area: servicioP;
  opacity: 0.8;
  transition: all 2s; }
  .servicioHome1:hover {
    transform: scale(1.08);
    opacity: 1; }

.servicioHome2 {
  grid-area: servicio1;
  opacity: 0.8;
  transition: all 2s; }
  .servicioHome2:hover {
    transform: scale(1.08);
    opacity: 1; }

.servicioHome3 {
  grid-area: servicio2;
  opacity: 0.8;
  transition: all 2s; }
  .servicioHome3:hover {
    transform: scale(1.08);
    opacity: 1; }

.proyectosSection h6 {
  margin-bottom: 4rem; }

.contenedorRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  margin-bottom: 50px; }
  .contenedorRow p {
    width: 65%;
    text-align: center; }

.contenedorRowRev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center; }
  .contenedorRowRev p {
    width: 65%;
    text-align: center; }

.homeProyectosDiv {
  width: 220px;
  height: 220px; }

.home4 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  .home4 h3 {
    width: 40%; }
  .home4 form {
    width: 50%; }

.formDiv {
  margin-top: 0.5rem; }

.formLabel {
  display: block; }

input {
  width: 100%;
  height: 2rem;
  margin-top: 0.2rem; }

textarea {
  width: 100%;
  margin-top: 0.2rem; }

/* Sobre Mi  */
.sobreMi {
  background-color: #C60E32;
  padding: 20px;
  color: #f7c1c1;
  display: flex;
  justify-content: space-around; }
  .sobreMi h1 {
    text-align: center; }

.perfilPicture {
  width: 150px;
  transition: 2s; }
  .perfilPicture:hover {
    transform: scale(1.08); }

.contenedorSobreMi {
  background-color: #C60E32;
  padding: 20px;
  color: #f7c1c1; }

.contenedorCentral {
  width: 90%;
  margin: 50px auto 0;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 50px; }

.contenedorCentral2 {
  width: 90%;
  margin: auto auto; }

/* Servicios  */
.containerMainServicios {
  padding-bottom: 2rem; }

.contenedorServicios {
  width: 90%;
  background-color: #C60E32;
  color: #f7c1c1;
  padding: 50px;
  margin: auto; }

.gridServicios {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-top: 50px;
  grid-template-areas: "descripcion imagen" "precio imagen";
  gap: 30px; }
  .gridServicios p {
    grid-area: descripcion; }
  .gridServicios h4 {
    grid-area: precio;
    justify-self: center; }
  .gridServicios div {
    grid-area: imagen; }

/* Casos de Exito  */
.containerMainExito {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem; }

#casosDeExito {
  padding: 20px; }

/* Contacto */
.containerMainContacto {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 5rem; }

.contenedorContacto h1 {
  margin-bottom: 40px; }

.contacto input {
  width: 50%;
  height: 35px;
  margin: 10px 0; }

.contacto textarea {
  width: 50%;
  margin: 20px 0 20px; }

/* Media Queries */
@media screen and (max-width: 480px) {
  .home2 {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  .servicioHome1 {
    border: 1px solid black;
    width: 50%;
    height: 100rem; }
  .servicioHome2 {
    border: 1px solid black;
    width: 50%;
    height: 90rem; }
  .servicioHome3 {
    border: 1px solid black;
    width: 50%;
    height: 90rem; }
  .contenedorRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    align-items: center;
    margin-top: 3rem; }
  .contenedorRowRev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 4rem; }
  .home4 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .home4 h3 {
      width: 80%;
      margin: 1.5rem 0; }
    .home4 form {
      width: 80%; }
  .formDiv {
    margin-top: 0.4rem; }
  .formLabel {
    display: block; }
  input {
    width: 100%;
    height: 1.4rem;
    margin-top: 0.5rem; }
  textarea {
    width: 100%;
    margin-top: 0.5rem; }
  .containerMainSobreMi {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 4rem; }
  .sobreMi {
    background-color: #C60E32;
    padding: 20px;
    color: #f7c1c1;
    display: flex;
    justify-content: space-around;
    margin-top: 0; }
  .contenedorCentral {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: auto; }
  .gridServicios {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .gridServicios h4 {
      order: 2; }
  .containerMainExito {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .containerMainContacto {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 5rem; }
  .contacto input {
    width: 100%;
    height: 35px;
    margin: 10px 0; }
  .contacto textarea {
    width: 100%;
    margin: 20px 0 20px; } }
