/* Casos de Exito  */

.containerMainExito{
    @extend .containerEjemplo;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#casosDeExito{
    padding: 20px;
}
.exitoDiv{
    width: 80%;
    margin: auto;

    #cataAriasArte{
        margin-top: 50px;
    }
}
.exitoContainer{
    align-items: center;
    
    .card{
        width: 200px;
        height: 180px;
        justify-content: center;
        margin: auto;
    }
}

