/* Contacto */

.containerMainContacto{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 5rem;
}
.contenedorContacto h1{
    margin-bottom: 40px;
}
.contacto {
    input{
        @include sizes(50%, 35px);
        margin: 10px 0;
    }
    textarea{
        width: 50%;
        margin: 20px 0 20px;
    }
}