body{
    font-family: $fontFamily;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Covered By Your Grace', cursive;
}

/* Header  */

.headerImg{
    @include sizes(35px, 24p);
}
.navbar-nav{
    align-items: flex-end;
}

/* Footer  */

.footerImg{
    width: 1.2rem;
}

/* Home  */
.containerIndex{
    margin: auto;
    display: grid;
    grid-template-rows: auto 10fr auto;
}
.containerMainIndex{
    @extend .containerEjemplo;
    width: 90%;
    padding: 2rem 0;
}
.home1{
    margin-left: 60px;
}
.pHome{
    margin-top: 80px;
}
.homeDiv{
    @include sizes(150px, 150px);
    background-color: $colorRed;
    border-radius: 50%;
    position: absolute;
    left: -100px;
    top: 180px;
}
.serviciosHome{
    height: auto;
}
.home2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem;
    grid-template-areas: 
    "servicioP servicio1"
    "servicioP servicio2";
    gap: 20px;
}
.home2 > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.servicioHome1{
    grid-area: servicioP;
    opacity: 0.8;
    transition: all 2s;

    &:hover{
        transform: scale(1.08);
        opacity: 1;
    }
}    
.servicioHome2{
    grid-area: servicio1;
    opacity: 0.8;
    transition: all 2s;
    

    &:hover{
        transform: scale(1.08);
        opacity: 1;
    }
}
.servicioHome3{
    grid-area: servicio2;
    opacity: 0.8;
    transition: all 2s;

    &:hover{
        transform: scale(1.08);
        opacity: 1;
    }
}
.proyectosSection h6{
    margin-bottom: 4rem;
}
.contenedorRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    margin-bottom: 50px;

    p{
        width: 65%;
        text-align: center;
    }
}
.contenedorRowRev{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;

            p{
                width: 65%;
                text-align: center;
            }
}
.homeProyectosDiv{
    @include sizes(220px, 220px);
}
.home4{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    h3{
        width: 40%;
    }
    form{
        width: 50%;
    }
}
.formDiv{
    margin-top: 0.5rem;
}
.formLabel{
    display: block;
}
input{
    width: 100%;
    height: 2rem;
    margin-top: 0.2rem;
}
textarea{
    width: 100%;
    margin-top: 0.2rem;
}